kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: notesingress
  namespace: notes-app
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: nginx
            port:
              number: 80